* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #FF0000;
    color: #00000;
  }
  
  .u-name {
    font-size: 20px;
    padding-left: 17px;
  }
  .content {
    width: 100%;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
  }
  .content h1 {
    margin-top: -90%;
    font-size: 200%;
    font-weight: 800;
  }
  
  .right_area h3 {
    font-family: Copperplate, "Copperplate Gothic Light";
  }
  
  .body {
    background-color : #ffffff ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 1980px 980px;
    color: white;
    font-size: 60px;
    display: flex;
  }
  .box1{
    width:805px;
    height:300px;
    left: 20%;
    margin: 70px;
    background:#FF0000;
    border-radius: 5px;
    position:absolute;
    top: 50%;
    right: 22.5%;
    }
  
  .textbox h4 {
    font-family: Copperplate, "Copperplate Gothic Light";
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    position: absolute;
    color : #6484db ;
    top: 15%;
    left: 20%;
    font-size: 70px;
    letter-spacing: 4px;
    border: 15px solid #6484db;
    padding: 10px;
    margin: 70px;
  }
  .text h3 {
    font-family: Copperplate, "Copperplate Gothic Light";
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    position: absolute;
    color : #262931 ;
    right : 35%;
    
  }
  
  .u-name b {
    color: #127b8e;
  }
  .header i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  .header i:hover {
    color: #127b8e;
  }
  .user-p {
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
  }
  .user-p img {
    width: 100px;
    border-radius: 50%;
  }
  .user-p h4 {
    color: #ccc;
    padding: 5px 0;
  }
  .side-bar {
    width: 260px;
    background: #FF0000;
    min-height: 100vh;
    transition: 500ms width;
    
  }
  
  .side-bar ul {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
    justify-content: center;
  }
  .side-bar ul li {
    font-size: 16px;
    padding: 20px 0px;
    margin-bottom: 30px;
    padding-left: 20px;
    transition: 500ms;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    background: #FFF0F0;
  }
  .side-bar ul li:hover {
    background: #807c7c;
  }
  .side-bar ul li a {
    text-decoration: none;
    color: #000000;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .side-bar ul li a .button {
    border-radius: 50px;
    background-color: ;
  }
  .side-bar ul li a i {
    display: inline-block;
    padding-right: 10px;
    font-size: 23px;
  }
  #navbtn {
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
    transition: 500ms color;
  }
  #checkbox {
    display: none;
  }
  #checkbox:checked ~ .body .side-bar {
    width: 60px;
  }
  #checkbox:checked ~ .body .side-bar .user-p {
    visibility: hidden;
  }
  #checkbox:checked ~ .body .side-bar a span {
    display: none;
  }
  .form-container {
    max-width: 0 auto;
    margin-left: 80px;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #262931;
  }
  .form-container h4 {
  margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }